<ion-header>

  <ion-navbar>
    <ion-title>juego</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="body">

<p  *ngIf="arrancarB">Arranca el equipo Azul</p>

<p *ngIf="arrancarA" >Arranca el equipo Rojo</p>

<h2>Elegir una de estas 3 peliculas</h2>

<ion-label>Peliculas</ion-label>
<div *ngIf=peliculasAmostar>
<ion-grid  id="pelicula"  *ngFor="let peliA of peliculasAmostar">
    <ion-row>
    <button ion-button block color="dark" (click)=elegir(peliA) block> {{peliA}} </button>
    </ion-row> 
</ion-grid>
</div>
<div *ngIf=peliculasBmostar >
<ion-grid  id="pelicula" *ngFor="let peliB of peliculasBmostar">
  <ion-row>
    <button ion-button block color="dark" (click)=elegir(peliB) block> {{peliB}} </button>
  </ion-row>
</ion-grid>
</div>

<ion-grid> 
Score
<ion-row>
  Equipo Rojo
  <ion-col>
    {{scoreA}}
  </ion-col>
</ion-row>

<ion-row>
  Equipo Azul
  <ion-col>
   {{scoreB}}
  </ion-col>
</ion-row>
  
</ion-grid> 


</ion-content>
