<ion-header>

  <ion-navbar>
    <ion-title>Creacion de Equipos</ion-title>
  </ion-navbar>
 
</ion-header>

<ion-content padding id="body">
 
    <form (ngSubmit)="CrearJugador()">
      <ion-item id="body">
        <ion-label>Nombre/Apodo</ion-label>
        <ion-input type="text" placeholder="Campo Requerido" [(ngModel)]="jugador.nombre" name="nombre"></ion-input>
      </ion-item>
      <button ion-button block color="dark" type="submit" block>Agregar Jugador</button>
    </form>

<div>
<!-- <ion-label style="color:black">Participantes</ion-label> -->
<ion-grid>
  <ion-row *ngFor="let t of team">
    <ion-col>
      {{t}}
    </ion-col>
    <ion-col>
      <button type="button" (click)="EliminarJugador(t)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
</div>

<div *ngIf="mostrar">


<button ion-button block color="dark" (click)="CrearEquipo()" block> Crear equipos </button>

</div>

<div *ngIf="mostrarEquipos" id="equipos">

<ion-label style="color:red ">Equipo Rojo</ion-label>
  <ion-grid>
    <ion-row *ngFor="let tA of teamA">
      <ion-col>
         {{tA}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-label style="color:blue">Equipo Azul</ion-label>
  <ion-grid>
    <ion-row *ngFor="let tB of teamB">
      <ion-col>
       {{tB}}
      </ion-col>
      </ion-row>
  </ion-grid>
  </div>



<button *ngIf="jugar" ion-button block color="dark" (click)=Juego() block> Arrancar Juego </button>


</ion-content>

