page-home {
#welcome{
 
  text-align: center;

}
#body{
  text-align: center;

  h1{
    font-size: 52px;
    margin-top:50px; 
    margin-bottom:150px;

  }

  background-color: rgb(247, 244, 236)
}

}
